<div class="container">
  <div class="row" *ngIf="accounts">
    <div class="card">
      <div class="card-body">
        <h1>Accounts</h1>
        <div style="float: left">
          <a class="btn" (click)="sortByNameAsc()">&#9650;</a>
          <a class="btn" (click)="sortByNameDesc()">&#9660;</a>
        </div>
        <div style="float: right">
          <a class="btn" (click)="sortByAvailableCashAsc()">&#8593;</a>
          <a class="btn" (click)="sortByAvailableCashDesc()">&#8595;</a>
        </div>
      </div>
    </div>
    <div class="table-responsive">
      <table class="table" id="accountsTable">
        <tbody>
        <tr *ngFor="let account of accounts | slice: 0: (more ? undefined : 3)">
          <td>
            <strong>Account Name: </strong><strong style="color: darkblue">{{account.accountName}}</strong> <br/>
            <strong>Available Cash: </strong><strong style="color: green">{{'$' + account.availableCash}}</strong> <br/>
            <strong>Today's Change: </strong><strong style="color: red">{{'-' + account.change.split("/")[0] + '/$' +
                      account.change.split("/")[1]}}</strong>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
  <button (click)="more = !more">{{more ? 'Load less' : 'Load more'}}</button>
</div>
